
:host {
  --default-fg-color: white;
  --default-bg-color: black;
    margin: 0px;
 	box-sizing: border-box;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.menuClick {
    animation-name: clickShrink;
    animation-duration: 0.4s;
}

@keyframes clickShrink {
    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.0);
    }
}
.menu_btn[data-pressed=true] > div {
  transform: rotate(45deg);
}
.menu_btn[data-pressed=true] > div::before {
  top: 0;
  transform: rotate(0deg);
}
.menu_btn[data-pressed=true] > div::after {
  top: 0;
  transform: rotate(90deg);
}
.menu_btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--menu-bg-color, var(--default-bg-color));
  border: 0.1em solid var(--menu-fg-color, var(--default-fg-color));
  border-radius: 0.25em;
}
.menu_btn > div,
.menu_btn > div::before,
.menu_btn > div::after {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: var(--menu-fg-color, var(--default-fg-color));
  transition-duration: var(--reduce-motion, 0.25s);
  border-radius: 0.25em;
}
.menu_btn > div {
	top: 45%;
    width: 80%;
	height: 12.5%
}
.menu_btn > div::before {
  content: '';
  top: -220%;
  height: 100%;
}
.menu_btn > div::after {
  content: '';
  top: 220%;
  height: 100%;
}
.menu_btn:hover {
	cursor: pointer;
}